---
interface Props {
  title: string;
  authors: string | string[];
  journal: string;
  year: number;
  volume?: string;
  pages?: string;
  doi?: string;
  linkLabel?: string;
}
const { title, authors, journal, year, volume, pages, doi, linkLabel = '访问论文' } = Astro.props;
const authorText = Array.isArray(authors) ? authors.join(', ') : authors;
---
<li class="bib-item">
  <span class="bib-authors">{authorText}</span>
  <span> ({year}). </span>
  <span class="bib-title">{title}. </span>
  <em>{journal}</em>{volume && <span>, {volume}</span>}{pages && <span>, {pages}</span>}.
  {doi && <a class="text-link" href={`https://doi.org/${doi}`}> {linkLabel}</a>}
</li>
